a.ticket-link:hover .ticket svg *,
a.ticket-link:focus .ticket svg *,
a.ticket-link:active .ticket svg * {
  fill: orangered;
}

a.ticket-link:hover .pulse,
a.ticket-link:focus .pulse,
a.ticket-link:active .pulse {
  color: orangered;
}

.ticket:hover {
  color: orangered;
}

.ticket svg * {
  stroke: transparent;
}

.pulse {
  display: inline-block;
  height: 36px;
  -webkit-animation: pulse 1s ease-in-out infinite;
  animation: pulse 1s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
}

.hero {
  background: linear-gradient(45deg, #3a3d98, #6f22b9);
}
